<table class="table table-bordered table-striped">
  <tbody>
    
      <tr>
          <th>Id</th>
          <td>{{oUser.id}}</td>
      </tr>
      <tr>
        <td>Nombre</td>
        <td>{{oUser.nombre}}</td>
    </tr>
      <tr>
        <td>Dni</td>
        <td>{{oUser.dni}}</td>
    </tr>
      <tr>
          <td>Apellido1</td>
          <td>{{oUser.apellido1}}</td>
      </tr>
      <tr>
          <td>Apellido2</td>
          <td>{{oUser.apellido2}}</td>
      </tr>
      <tr>
          <td>Email</td>
          <td>{{oUser.email}}</td>
      </tr>
      <tr>
          <td>Nickname</td>
          <td>{{oUser.nickname}}</td>
      </tr>
      <!-- <tr>
          <td>Usertype</td>
          <td>{{oUser.tipousuario.id}}-{{oUser.tipousuario.name}}</td>
      </tr> -->
  </tbody>
</table>
